.project-tile {
	img {
		border-radius: 4px;
		max-height: 200px;
		max-width: 100%;
		width: auto;
		height: auto;
		margin-left: auto;
		margin-right: auto;
	}

	&:hover,
	&:focus {
		outline: none;

		img {
			box-shadow: 0 0 0 2px color(gray), 0 0 0 7px color(blue);
		}
	}
}