.project-canvas__viewport {
	margin: 0 auto;
}

.project-canvas__viewport--mobile,
.project-canvas__viewport--tablet {
	@include breakpoint(lg) {
		margin: 40px auto;
		border-radius: 4px;
		box-shadow: 0 0 30px rgba(black, 0.5);
		overflow-y: auto;
		max-height: calc(100vh - 40px - 40px);
	}

	&.project-canvas--toolbar {
		max-height: calc(100vh - 70px - 40px - 40px);
	}
}