{% extends "_layout" %}
{% block content %}

{% if currentUser and currentUser.admin %}

<div class="grid-container contained pt2 pb2">
	<div class="media media--horizontal media--forward gutter--small align--middle">
		<div class="media__fixed">
			<a class="button--primary" href="/">
				←
			</a>
		</div>
		<div class="media__fluid">
			<h1>Projects</h1>
		</div>
	</div>
</div>

<hr/>

<div class="grid-container contained pt4 pb4">
	<div class="row align--bottom">
		{% for entry in craft.entries.section('projects').all() %}
		<div class="col c6 c4--md c3--lg c2--xl mb4 tc">
			<a class="project-tile link--target-hover db" href="{{ entry.url }}">
				{% set screen = entry.screens.one() %}
				{% if craft.imgix is defined %}
					{% set thumbnailTransform = {
						crop: 'top',
						fit: 'crop',
						width: 800,
						height: 600,
						auto: 'compress,format',
					} %}
				{% else %}
					{% set thumbnailTransform = {
						mode: 'crop',
						width: 800,
						height: 600,
						quality: 75,
						position: 'top-center'
					} %}
				{% endif %}
				
				{% if screen %}
					{% if screen.desktop.desktopImage.one() %}
						{% set screenAsset = screen.desktop.desktopImage.one() %}
						{% if craft.imgix is defined %}
							{% set thumbnailTransform = {
								crop: 'top',
								fit: 'crop',
								width: 800,
								height: 600,
								auto: 'compress,format',
							} %}
						{% else %}
							{% set thumbnailTransform = {
								mode: 'crop',
								width: 800,
								height: 600,
								quality: 75,
								position: 'top-center'
							} %}
						{% endif %}
					{% elseif screen.tablet.tabletImage.one() %}
						{% set screenAsset = screen.tablet.tabletImage.one() %}
						{% if craft.imgix is defined %}
							{% set thumbnailTransform = {
								crop: 'top',
								fit: 'crop',
								width: 600,
								height: 800,
								auto: 'compress,format',
							} %}
						{% else %}
							{% set thumbnailTransform = {
								mode: 'crop',
								width: 600,
								height: 800,
								quality: 75,
								position: 'top-center'
							} %}
						{% endif %}
					{% elseif screen.mobile.mobileImage.one() %}
						{% set screenAsset = screen.mobile.mobileImage.one() %}
						{% if craft.imgix is defined %}
							{% set thumbnailTransform = {
								crop: 'top',
								fit: 'crop',
								width: 600,
								height: 1000,
								auto: 'compress,format',
							} %}
						{% else %}
							{% set thumbnailTransform = {
								mode: 'crop',
								width: 600,
								height: 1000,
								quality: 75,
								position: 'top-center'
							} %}
						{% endif %}
					{% endif %}
					{% if screenAsset %}
						{% if craft.imgix is defined %}
							{% set transformedUrl = craft.imgix.transformImage(screenAsset, thumbnailTransform).url %}
						{% else %}
							{% set transformedUrl = screenAsset.getUrl(thumbnailTransform) %}
						{% endif %}
						<img class="db mb1 mb2--lg" src="{{ transformedUrl }}" />
					{% endif %}
				{% endif %}
				<span class="db link__target">{{ entry.title }}</span>
			</a>
		</div>
		{% endfor %}
	</div>
</div>

{% else %}

{% redirect '404' %}

{% endif %}

{% endblock %}