{% extends "_layout" %}
{% block content %}

{% if currentUser %}

<div class="grid-container contained pt2 pb2">
	<h1><a href="/">←</a> Projects</h1>
</div>

<hr/>

<div class="grid-container contained pt2 pb2 p4--lg">
	<div class="row">
		{% for entry in craft.entries.section('projects').all() %}
		<div class="col c6 c4--md c3--lg">
			<a class="project-tile link--target-hover db" href="{{ entry.url }}">
				{% set screen = entry.screens.one() %}
				{% if screen %}
					{% if screen.desktop.desktopImage.one() %}
						{% set screenAsset = screen.desktop.desktopImage.one() %}
					{% elseif screen.tablet.tabletImage.one() %}
						{% set screenAsset = screen.tablet.tabletImage.one() %}
					{% elseif screen.mobile.mobileImage.one() %}
						{% set screenAsset = screen.mobile.mobileImage.one() %}
					{% endif %}
					{% if screenAsset %}
						{% set thumbnailTransform = {
							mode: 'crop',
							width: 800,
							height: 600,
							quality: 75,
							position: 'top-center'
						} %}
						<img class="full-width mb2" src="{{ screenAsset.getUrl(thumbnailTransform) }}" />
					{% endif %}
				{% endif %}
				<span class="db link__target">{{ entry.title }}</span>
			</a>
		</div>
		{% endfor %}
	</div>
</div>

{% else %}

{% redirect '404' %}

{% endif %}

{% endblock %}