{% set title = category.title %}
{% set entries = craft.entries.relatedTo(category) %}

{% extends "_layout" %}
{% block content %}

<div class="grid-container contained pt2 pb2">
	<div class="media media--horizontal media--forward gutter--small align--middle">
		{% if currentUser %}
		<div class="media__fixed">
			<a class="button--primary" href="/clients">
				←
			</a>
		</div>
		{% endif %}
		<div class="media__fluid">
			<h1>{{ category.title }}</h1>
		</div>
	</div>
</div>

<hr/>

<div class="grid-container contained pt4 pb4">
	<div class="row align--bottom">
		{% for entry in entries.all() %}
		<div class="col c6 c4--md c3--lg mb4 ">
			<a class="project-tile link--target-hover db tc" href="{{ entry.url }}">
				{% set screen = entry.screens.one() %}
				{% set thumbnailTransform = {
					mode: 'crop',
					width: 800,
					height: 600,
					quality: 75,
					position: 'top-center'
				} %}
				{% if screen %}
					{% if screen.desktop.desktopImage.one() %}
						{% set screenAsset = screen.desktop.desktopImage.one() %}
						{% set thumbnailTransform = {
							mode: 'crop',
							width: 800,
							height: 600,
							quality: 75,
							position: 'top-center'
						} %}
					{% elseif screen.tablet.tabletImage.one() %}
						{% set screenAsset = screen.tablet.tabletImage.one() %}
						{% set thumbnailTransform = {
							mode: 'crop',
							width: 600,
							height: 800,
							quality: 75,
							position: 'top-center'
						} %}
					{% elseif screen.mobile.mobileImage.one() %}
						{% set screenAsset = screen.mobile.mobileImage.one() %}
						{% set thumbnailTransform = {
							mode: 'crop',
							width: 600,
							height: 1000,
							quality: 75,
							position: 'top-center'
						} %}
					{% endif %}
					{% if screenAsset %}
						<img class="db mb1 mb2--lg" src="{{ screenAsset.getUrl(thumbnailTransform) }}" />
					{% endif %}
				{% endif %}
				<span class="db link__target">{{ entry.title }}</span>
			</a>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}