{% set title = category.title %}
{% set entries = craft.entries.relatedTo(category) %}

{% extends "_layout" %}
{% block content %}

<div class="grid-container contained pt2 pb2">
	<h1>
		{% if currentUser %}
		<span><a href="/clients">←</a> </span>
		{% endif %}
		{{ category.title }}
	</h1>
</div>

<hr/>

<div class="grid-container contained pt2 pb2 p4--lg">
	<div class="row">
		{% for entry in entries.all() %}
		<div class="col c6 c4--md c3--lg">
			<a class="project-tile link--target-hover db" href="{{ entry.url }}">
				{% set screen = entry.screens.one() %}
				{% if screen %}
					{% if screen.desktop.desktopImage.one() %}
						{% set screenAsset = screen.desktop.desktopImage.one() %}
					{% elseif screen.tablet.tabletImage.one() %}
						{% set screenAsset = screen.tablet.tabletImage.one() %}
					{% elseif screen.mobile.mobileImage.one() %}
						{% set screenAsset = screen.mobile.mobileImage.one() %}
					{% endif %}
					{% if screenAsset %}
						{% set thumbnailTransform = {
							mode: 'crop',
							width: 800,
							height: 600,
							quality: 75,
							position: 'top-center'
						} %}
						<img class="full-width mb1 mb2--lg" src="{{ screenAsset.getUrl(thumbnailTransform) }}" />
					{% endif %}
				{% endif %}
				<span class="db link__target">{{ entry.title }}</span>
			</a>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}