{% set title = category.title %}
{% set entries = craft.entries.relatedTo(category) %}

{% extends "_layout" %}
{% block content %}

<h1>{{ category.title }}</h1>

<h2>Projects</h2>
<ul>
	{% for entry in entries %}
	<li>
		<a href="{{ entry.url }}">{{ entry.title }}</a> <br/>
		{% set screen = entry.screens.first() %}
		{% if screen %}
			{% if screen.desktop.desktopImage.first() %}
				{% set screenAsset = screen.desktop.desktopImage.first() %}
			{% elseif screen.tablet.tabletImage.first() %}
				{% set screenAsset = screen.tablet.tabletImage.first() %}
			{% elseif screen.mobile.mobileImage.first() %}
				{% set screenAsset = screen.mobile.mobileImage.first() %}
			{% endif %}
			{% if screenAsset %}
				<img style="width: 400px; height: 300px;"  src="{{ screenAsset.url }}" />
			{% endif %}
		{% endif %}
	</li>
	{% endfor %}
</ul>

{% endblock %}