{% extends "_layout" %}
{% block content %}

{% if currentUser %}

<div class="grid-container contained pt2 pb2">
	<h1><a href="/">â†</a> Clients</h1>
</div>

<hr/>

<div class="grid-container contained pt2 pb2 p4--lg">
	<ul>
		{% set clients = craft.categories.group('clients') %}
		{% for client in clients.all() %}
		<li><a class="link" href="{{ client.url }}">{{ client.title }}</a></li>
		{% endfor %}
	</ul>
</div>

{% else %}

{% redirect '404' %}

{% endif %}

{% endblock %}