{% extends "_layout" %}
{% block content %}

{% if currentUser and currentUser.admin %}

<div class="grid-container contained pt2 pb2">
	<div class="media media--horizontal media--forward gutter--small align--middle">
		<div class="media__fixed">
			<a class="button--primary" href="/">
				â†
			</a>
		</div>
		<div class="media__fluid">
			<h1>Clients	</h1>
		</div>
	</div>
</div>

<hr/>

<div class="grid-container contained pt2 pb2 p4--lg">
	<ul>
		{% set clients = craft.categories.group('clients') %}
		{% for client in clients.all() %}
		<li><a class="link" href="{{ client.url }}">{{ client.title }}</a></li>
		{% endfor %}
	</ul>
</div>

{% else %}

{% redirect '404' %}

{% endif %}

{% endblock %}